---
layout: default
---
<style>
  #homeid h2 {
    text-align: center;
  }
  #homeid img {
    width: 100%;
    margin-bottom: 30px; /* Adjust this value as needed */
    border-radius: 0; /* Ensure no rounded corners */
  }
</style>

<div id="homeid" >
  <h1>AMAs Research Group </h1>
  <img src="{{ site.url }}{{ site.baseurl }}/images/home_background.jpg" />
</div>

  <div id="homeid" class="col-sm-8">
    <h3>Welcome!</h3>
	  {{ content }}
  </div>

  <div id="newsid" class="col-sm-4" >
	  {% include news.html %}
  </div>